<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidxs a MercadoLiebre</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="search-nav">
            <div class="up-header">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo de MercadoLiebre">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos, marcas...">
                    <button class="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <p class="info">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        </div>
        <div class="nav-list">
            <ul>
                <li><a target="_blank" href="#">Ofertas</a></li>
                <li><a target="_blank" href="#">Tiendas Oficiales</a></li>
                <li><a target="_blank" href="#">Vender</a></li>
                <li><a target="_blank" href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a target="_blank" href="/register">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a target="_blank" href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a target="_blank" href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <h3 class="headline"><strong>Basado en tu ultima visita</strong></h3>
        <section class="products-section">
            <div class="product-card">
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                <div class="product-text">
                    <div>
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="discount-price">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                    </div>
                    <h4 class="descriptions">Cafetera Moulinex</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="product-text">
                    <div>
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="discount-price">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                    </div>
                    <h4 class="descriptions">MacBook Pro 2019</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung Galaxy">
                <div class="product-text">
                    <div>
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="discount-price">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                    </div>
                    <h4 class="descriptions">Samsung Galaxy S10</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen de SmartTV">
                <div class="product-text">
                    <div>
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="discount-price">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                    </div>
                    <h4 class="descriptions">SmartTV Samsung 43"</h4>
                </div>
            </div>
        </section>
        <h3 class="headline"><strong>Sección de Ofertas</strong></h3>
        <section class="products-section">
            <div class="product-card">
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                <div class="product-text">
                    <div>
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="discount-price">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                    </div>
                    <h4 class="descriptions">Cafetera Moulinex</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="product-text">
                    <div>
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="discount-price">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                    </div>
                    <h4 class="descriptions">MacBook Pro 2019</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung Galaxy">
                <div class="product-text">
                    <div>
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="discount-price">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                    </div>
                    <h4 class="descriptions">Samsung Galaxy S10</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen de SmartTV">
                <div class="product-text">
                    <div>
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="discount-price">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                    </div>
                    <h4 class="descriptions">SmartTV Samsung 43"</h4>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-info">
            <i class="fas fa-credit-card"></i>
            <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
            <p class="text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer-info">
            <i class="fas fa-gift"></i>
            <h3><strong>Envío gratis desde los $2.500</strong></h3>
            <p class="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer-info">
            <i class="fas fa-user-shield"></i>
            <h3><strong>Seguridad de principio a fin</strong></h3>
            <p class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>


</body>

</html>