/* ------Generales------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.headline {
    font-size: 24px;
    color: #555;
    margin: 1rem;
    text-align: left;
}

.price {
    font-size: 18px;
}

.discount {
    font-size: 16px;
    color: #3c3;
}

.discount-price {
    display: flex;
}

.discount-price .price {
    flex-grow: 0.3;
}

.discount-price .discount {
    flex-grow: 0.7;
}

a {
    text-decoration: none;
    color: black;
}

li {
    font-size: 12px;
}

/* ------Generales------ */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
}

.banner img{
    width: 100%;
}

.search-nav {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 35%;
    padding: 10px;
    min-width: 9rem;
    max-width: 20rem;
    flex-grow: 0.5;
}

.search-bar{
    flex-grow: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    border: none;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding: 0.7rem;
    background-color: #fff;
    outline: none;
}

.search-bar button{
    border: none;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 0.7rem;
    background-color: #fff;
}

.up-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    text-align: center;
    padding-top: 1rem;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    font-size: 24px;
    border-radius: 0.3rem;
    width: fit-content;
    padding: 5px 10px;
    margin: auto;
}

.burger-container {
    padding: 1rem;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-list ul{
    display: flex;
    gap: 2rem;
}

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.products-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    position: relative;
}


.product-card {
    background-color: #fff;
    max-width: 20rem;
    transition: 0.5s;
}

.descriptions {
    font-size: 16px;
    color: #666;
    /* visibility: hidden; */
    opacity: 0;
    transition: 0.5s;
}

.product-card:hover .descriptions{
    /* visibility: visible; */
    opacity: 1;
}

.product-card:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.product-card img {
    border-bottom: solid #ebebeb 0.15rem;
    width: 100%;
}

.truck-container {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.truck-container i {
    color: #3c3;
    font-size: 1rem;
}

.product-text {
    text-align: left;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
    background-color: #fff;
    margin-top: 3rem;
}

.footer-info {
    text-align: center;
}

.footer-info i {
    font-size: 2em;
    color: #1456c3;
    margin-bottom: 10px;
}

footer .text,
footer .copyright {
    color: #666;
    
}

footer h3 {
    color: #555;
}

@media (max-width: 769px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 770px) {
    .burger-container {
        display: none;
    }
}